<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Sql -->
      <package
            uri="uk.ac.bham.sql.sql"
            class="metamodel.MetamodelPackage"
            genModel="model/Sql.genmodel"/>
   </extension>

</plugin>
